<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Registro</ion-title>
    <ion-buttons slot="end">
      <img src="assets/img/logo1.png" alt="Logo" style="width: 30px; height: 30px; margin-right: 10px;">
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Registro</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-text color="Light">
    <div class="centrar roboto-slab-bold">
      <p>Registrate para acceder a nuestros servicios y beneficios</p>
    </div>
  </ion-text>
</ion-content>

<div id="container">
   <ion-list>
    <ion-item> <!--campo nombre-->
      <ion-label position="floating">Nombre <ion-text color="danger">(requerido)</ion-text></ion-label>
      <ion-input type="text" [(ngModel)]="nombre"></ion-input>
    </ion-item>
    <ion-item> <!--campo apellido-->
      <ion-label position="floating">Apellido <ion-text color="danger">(requerido)</ion-text></ion-label>
      <ion-input type="text" [(ngModel)]="apellido"></ion-input>
    </ion-item>
    <ion-item> <!--campo correo-->
      <ion-label position="floating">Correo <ion-text color="danger">(requerido)</ion-text></ion-label>
      <ion-input type="email" [(ngModel)]="Correo"></ion-input>
    </ion-item>
    <ion-item> <!--campo telefono-->
      <ion-label position="floating">Telefono <ion-text color="danger">(requerido)</ion-text></ion-label>
      <ion-input type="tel" [(ngModel)]="Telefono"></ion-input>
    </ion-item>
    <ion-item> <!--campo ciudad-->
      <ion-label position="floating">Ciudad</ion-label>
      <ion-input type="text" [(ngModel)]="Ciudad"></ion-input>
    </ion-item>
      <ion-item> <!--campo genero-->
        <ion-label>Genero</ion-label>
        <ion-select [(ngModel)]="Genero">
          <ion-select-option value="Masculino">Masculino </ion-select-option>
          <ion-select-option value="Femenino">Femenino</ion-select-option>
          <ion-select-option value="otro">Otro</ion-select-option>
          </ion-select>
      </ion-item>
      <ion-item> <!--campo banda-->
        <ion-label position="floating">Banda</ion-label>
        <ion-input type="text" [(ngModel)]="Banda"></ion-input>
      </ion-item>
      <ion-item>
        <ion-button expand="block" color="secondary" (click)="registrarusuario()">Enviar</ion-button>
      </ion-item>
    
      <ion-footer>
        <ion-toolbar>
          <ion-title size="small" class="firma">© 2024 La Cueva del Cromañón. Todos los derechos reservados.(cambrah)</ion-title>
        </ion-toolbar>
      </ion-footer>
    
  </ion-list>
</div>